{{ args.before_widget }}
{{ args.before_title }}{{ instance.title }}{{ args.after_title }}
<table class="timber-test-widget-table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% include '_timber-test-widget-group.twig' with { 'row_title': 'args', 'obj': args } %}
    {% include '_timber-test-widget-group.twig' with { 'row_title': 'instance', 'obj': instance } %}
  </tbody>
</table>
{{ args.after_widget}}
